version: 1.0.0.{build}

environment:
  nodejs_version: "" # empty string == latest version

image: Visual Studio 2017

pull_requests:
  do_not_increment_build_number: true

init:
 - ps: echo $env:appveyor_build_version
 - ps: echo $env:appveyor_build_number
 - ps: $env:appveyor_build_version = $("1.0.0.") + $env:appveyor_build_number
 - ps: echo $env:appveyor_build_version
 - ps: appveyor UpdateBuild -Version $env:appveyor_build_version

max_jobs: 5

before_build:
 - cmd: node --version
 - cmd: npm --version
 - cmd: dotnet --version
 - cmd: dotnet --info
 - cmd: dotnet restore --verbosity m

build_script:
 - ps: dotnet publish -c Release --output $env:APPVEYOR_BUILD_FOLDER\dist # -r ubuntu-x64
 - cmd: cd .\tests\MathSite.Tests.Common && dotnet test
 - cmd: cd ..\MathSite.Tests.Facades && dotnet test

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js or io.js
  ps: Install-Product node $env:nodejs_version

dotnet_csproj:
  patch: true
  file: '**\*.csproj;**\*.props;**\*.fsproj;**\*.xml'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

artifacts:
 - path: '\dist'
   name: Root-1.0.0
   type: Zip

deploy: off
