@model CommonViewModel

<footer class="footer">
    <div class="footer__wrap container">
        <div class="footer__info">
            &copy;&nbsp;Математический факультет ЯрГУ им. П.Г. Демидова, 2017<br>
            &copy;&nbsp;Ярославский государственный университет&nbsp;им. П.Г. Демидова
        </div>
        <a class="footer__support developer" href="http://akvelon-ivanovo.ru/about">
            Сайт сделан при поддержке компании
        </a>
    </div>
</footer>