@model CommonPageInfo

<header class="main__head header">
	<h1 class="header__logo2">
		<a class="logo" href="@Url.Action("Index", "Home")">
			<div class="logo__label" style="visibility: hidden">Математический факультет</div>
		</a>
	</h1>
	<nav class="header__nav">
		@if (Model.MenuItems != null && Model.MenuItems.Any())
		{
			@Html.Partial("Partials/Menu/Menu", Model.MenuItems)
		}
	</nav>
</header>