@model IEnumerable<IEnumerable<MenuItemViewModel>>

@foreach (var sectionItems in Model)
{
    @Html.Partial("Partials/MainMenu/MenuSection", sectionItems)
}

<div class="nav__section">
    <div class="nav__item">
        <div class="nav__link nav__link_heading" href="#">Обратная связь</div>
    </div>
    <div class="nav__contacts contacts-simplified">
        <a class="contacts-simplified__heading" href="#">Контакты</a><span class="contacts-simplified__colon">:</span>
        <div class="contacts-simplified__content">Ярославль, ул. Союзная, 144</div>
    </div>
</div>