<div class="success">
    <div class="success__wrap container">
        <div class="success__head section-head">
            <div class="section-head__title heading heading_inverted heading_medium">
                Истории успеха
            </div>
            <a class="section-head__details button" href="#">
                Все сразу
            </a>
        </div>
        <div class="success__body">
            <div class="success__author">
                <div class="success__sub-title">
                    Говорит студент
                </div>
                <div class="success__student">
                    <img class="success__photo" src="images/vadim-nikulin.png">
                    <div class="success__name">
                        Вадим Никулин
                    </div>
                    <div class="success__note">
                        Студент кафедры дифференциальных уравнений, год выпуска 2005
                    </div>
                </div>
            </div>
            <div class="success__message">
                <div class="success-head">
                    <div class="success-head__title heading success__message-title">
                        Знания по&nbsp;математике&nbsp;&mdash; важнее!
                    </div>
                </div>
                <div class="success__message-title">

                </div>
                <div class="success__text">
                    При поступлении в&nbsp;университет передо мной стоял выбор&nbsp;&mdash; идти на&nbsp;ИВТ или на&nbsp;математический факультет. Я&nbsp;остановился на&nbsp;втором, посчитал, что знания по&nbsp;математике важнее, а&nbsp;недостающие знания по&nbsp;компьютерным дисциплинам я&nbsp;смогу освоить самостоятельно. На&nbsp;деле оказалось, что и&nbsp;Computer science у&nbsp;нас преподавали не&nbsp;хуже. <br /> Математический факультет&nbsp;&mdash; это самостоятельность, знания, олимпиады. <br /> Определяющее событие моей жизни произошло именно в&nbsp;студенчестве&nbsp;&mdash; участие в&nbsp;олимпиадах ACM и&nbsp;поездка на&nbsp;финал ACM&nbsp;ICPC в&nbsp;США&nbsp;&mdash; это крупнейшая студенческая олимпиада по&nbsp;программированию.&quot;
                </div>
            </div>
        </div>
    </div>
</div>
