@model AdminPageBaseViewModel

<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<base href="@Url.Action("Index", "Home")" />

		<title>@Model.PageTitle</title>
		
		<link href="~/css/manager/manager-main.css" rel="stylesheet" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		@Html.Partial("ManagerHeader", Model.TopMenu)

		<div class="container-fluid">
			@RenderBody()
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>