@model IEnumerable<MenuLink>

<header class="header navbar navbar-expand navbar-dark flex-column flex-md-row">
	<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
		Site Managment
	</a>
	<div class="navbar-nav-scroll">
		@Html.Partial("Menu/TopMenu", Model)
	</div>
</header>