@using MathSite.Areas.Api.Heplers.Auth
@model MathSite.ViewModels.Account.LoginFormViewModel
@{
    ViewData["Title"] = "Add2Fa";
    Layout = null;
}

<h2>Adding two factor autentication</h2>
<div>
    <img src="@Model.BarcodeImageUrl"/>
</div>
<div>
    Manual Setup Code: @Model.SetupCode
</div>
<form method="post" class="login-form" asp-action="VerifyTwoFactorAutentication" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl" asp-antiforgery="true">
    <div class="form-group">
        <label>Введите ключ:</label>
        <label class="text-danger">@Model.IsTokenCorrect</label>
        <input asp-for="Token" class="form-control" />
    </div>
    <input type="hidden" asp-for="TemporalTwoFactorAutenticationKey" />
    <input type="hidden" asp-for="Login" />
    <input type="hidden" asp-for="Password" />
    <input type="hidden" asp-for="BarcodeImageUrl" />
    <input type="hidden" asp-for="SetupCode" />
    <button type="submit" class="btn btn-default">Submit</button>
</form>