@using MathSite.Areas.Api.Heplers.Auth
@model MathSite.ViewModels.Account.LoginFormViewModel
@{
    ViewData["Title"] = "TwoFactorAuthentication";
    Layout = null;
}

<h2>TwoFactorAuthentication</h2>

<div>
    @using (Html.BeginForm("VerifyTwoFactorAutentication", "Account",Model, FormMethod.Post))
    {
        <input type="text" name="Token"/>
        <input type="submit" class="btn btn-default"/>
    }
</div>
