@model BasePersonEditViewModel

@{
    var url = Model.PhotoId.IsNotNullOrWhiteSpace()
        ? Url.Action("Get", "File", new { id = Model.PhotoId })
        : null;

    const int photoWidth = 200;
    const int photoHeight = 200;
}

<div class="container" style="padding-top: 15px;">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="secondName">Фамилия*</label>
            <input required="required" type="text" id="secondName" asp-for="SecondName" class="form-control" placeholder="Фамилия*" />
        </div>
        <div class="form-group col-md-4">
            <label for="firstName">Имя*</label>
            <input required="required" id="firstName" type="text" asp-for="FirstName" class="form-control" placeholder="Имя*" />
        </div>
        <div class="form-group col-md-4">
            <label for="thirdName">Отчество</label>
            <input type="text" id="thirdName" asp-for="MiddleName" class="form-control" placeholder="Отчество" />
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Телефон</label>
        <input type="text" id="phone" asp-for="Phone" class="form-control" placeholder="Телефон" />
    </div>
    <div class="form-group">
        <label for="birthdate">День рождения*</label>
        <input required="required" id="birthdate" type="date" asp-for="BirthDate" class="form-control" />
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhotoId, "Фото лица")
        @Html.HiddenFor(m => m.PhotoId)
        <div id="image-cropper">
            <div class="cropit-preview"></div>
            <input type="range" class="cropit-image-zoom-input" />
            <input type="file" class="cropit-image-input" />
        </div>

        <div class="btn btn-primary save-image">Сохранить картинку</div>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</div>
<script src="~/js/manager/save-button.js"></script>
<style>
    .cropit-preview {
        background: #eee;
        margin: auto;
    }
</style>
<script>
    const imageUrl = '@url';
    let saveButton;

    const $imageContainer = $('#image-cropper').cropit({
        smallImage: 'allow',
        width: @photoWidth * 2,
        height: @photoHeight * 2,
        maxZoom: 2,
        onFileChange: (e) => {
            saveButton.enable();
        }
    });

    saveButton = new SaveButton({
        clickHandler: function () {
            if (!this.enabled)
                return;

            var self = this;

            const base64Image = $imageContainer.cropit('export');
            $.ajax({
                url: '@Url.Action("UploadBase64Image", "Files")',
                type: 'POST',
                data: { base64Image: base64Image, pageType: 'person-photo' }
            }).done((id) => {
                $('#PhotoId').val(id);

                self.disable();

                swal({
                    title: "Фото загружено!",
                    type: 'success'
                });
            });
        }
    });

    $imageContainer.cropit('imageSrc', imageUrl);
</script>