@model PersonEditViewModel

<input type="text" asp-for="SecondName" />
<input type="text" asp-for="FirstName" />
<input type="text" asp-for="MiddleName" />
<input type="text" asp-for="Phone" />
<input type="date" asp-for="BirthDate" />
<button type="submit">Сохранить</button>