@model UploadedFilesViewModel

@foreach (var file in Model.Files)
{
    <h2>Файл "<a href="@Url.Action("Download", "File", new {id = file.Id})">@file.Name</a>" успешно загружен.</h2>
}

<a href="@Url.Action("Index", "Files")"><< Вернуться в список</a>