@{
	Layout = "ErrorLayout";
	ViewData["Title"] = "Ууупс, вы попали не туда: 404 ошибка";
	ViewData["Description"] = "404 ошибка";
	ViewData["BackgroundColor"] = "rgba(0, 22, 72, 0.75)";
}

<div id="content">
	<h1>Страница не найдена</h1>
	<article>
		Кажется, вы потерялись
	</article>
	<nav>
		<a href="javascript:window.history.back();" class="btn back">Вернуться назад</a>
		<a href="@Url.Action("Index", "Home")" class="btn home">На главную</a>
	</nav>
</div>