@model PageItemViewModel

@{
    Layout = "SecondaryLayout";
}

<div class="preview">
    <div class="preview__background">
        <div class="preview__inner">
            <img class="preview__image" src="images/space.jpg" width="1920" height="305">
        </div>
    </div>
    <div class="preview__content">
        <div class="preview__wrap container">
            <div class="preview__title section-head">
                <h1 class="section-head__title heading heading_inverted heading_preview">
                    @Model.Title
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="page">
    <div class="page__wrap container">
        <div class="page__main">
            <div class="page__body">
                <div class="wysiwyg">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
</div>