@using System.Reflection
@using MathSite.BasicAdmin.ViewModels.Home

@{
    var version = typeof(Startup).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
}

@model DashboardPageViewModel

@{
    Layout = "_DashboardLayout";
}

<h1>Добрый день!</h1>
<h2>Приветствуем в панели управления сайтом математического факультета.</h2>
<p>В скором(или не очень) времени тут появится статистика по сайту, заходам, переходам, популярным статьям.</p>
<p>А пока что рекомендуем заглянуть в разделы новостей, страниц и попробовать создать или изменить новость :)</p>
<p></p>
<p></p>
<p>Хорошего дня!</p>

<footer style="color: #ccc">
    Текущая версия: @version
</footer>