<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Математический факультет ЯрГУ</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic"
		      rel="stylesheet">

		<!-- icons -->
		<environment names="Development">
			<style>
				@@font-face {
					font-family: 'Material Icons';
					font-style: normal;
					font-weight: 400;
					src: url(/lib/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
					src: local('Material Icons'),
					     local('MaterialIcons-Regular'),
					     url(/lib/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
					     url(/lib/material-design-icons/iconfont//MaterialIcons-Regular.woff) format('woff'),
					     url(/lib/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
				}

				.material-icons {
					font-family: 'Material Icons';
					font-weight: normal;
					font-style: normal;
					font-size: 24px; /* Preferred icon size */
					display: inline-block;
					line-height: 1;
					text-transform: none;
					letter-spacing: normal;
					word-wrap: normal;
					white-space: nowrap;
					direction: ltr;
					/* Support for all WebKit browsers. */
					-webkit-font-smoothing: antialiased;
					/* Support for Safari and Chrome. */
					text-rendering: optimizeLegibility;
					/* Support for Firefox. */
					-moz-osx-font-smoothing: grayscale;
					/* Support for IE. */
					font-feature-settings: 'liga';
				}
			</style>
		</environment>
		<environment names="Staging,Production">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		</environment>
		<!-- icons -->

		<base href="/personal-page">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link href="~/js/panel/styles.bundle.css" rel="stylesheet" />
	</head>
	<body>
		<app-root></app-root>
		<div id="loading-splash-screen">
			Выполняется загрузка страницы...
		</div>
		<script type="text/javascript" src="~/js/panel/inline.bundle.js"></script>
		<script type="text/javascript" src="~/js/panel/polyfills.bundle.js"></script>
		<script type="text/javascript" src="~/js/panel/scripts.bundle.js"></script>
		<script type="text/javascript" src="~/js/panel/vendor.bundle.js"></script>
		<script type="text/javascript" src="~/js/panel/main.bundle.js"></script>
	</body>
</html>