<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Математический факультет ЯрГУ</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic"
		      rel="stylesheet">

		<!-- icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- icons -->

		<base href="/personal-page">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link href="~/js/panel/styles.bundle.css" rel="stylesheet" />
	</head>
	<body>
		<app-root></app-root>
		<div id="loading-splash-screen">
			Выполняется загрузка страницы...
		</div>
		<script type="text/javascript" src="~/js/panel/inline.bundle.js"></script>
		<script type="text/javascript" src="~/js/panel/polyfills.bundle.js"></script>
		<script type="text/javascript" src="~/js/panel/scripts.bundle.js"></script>
		<script type="text/javascript" src="~/js/panel/vendor.bundle.js"></script>
		<script type="text/javascript" src="~/js/panel/main.bundle.js"></script>
	</body>
</html>