.header {
    background-color: #4347aa;
    box-shadow: 0 0.5rem 1rem #000000, inset 0 -1px 0 #000000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
    min-height: 4rem;
}

div.sidebar-column {
    border-right: 1px solid #eee;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 64px;
    z-index: 1000;
}

div.sidebar-column .sidebar .nav-link { border-radius: 0; }

.sidebar.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sidebar-select,
.sidebar-select > select { width: 100%; }

main.pages-layout { padding: 0; }

main * { -webkit-overflow-scrolling: touch; }

.set-max-size { max-width: 1500px; }

.set-max-size > .card > .card-body {
    padding: 0;
    padding: initial;
}

.paging select.custom-select { display: inline-flex; }

.news-card { margin-top: 15px; }

.empty-text { padding: 2em; }

.posts .post__max-width {
    height: 100%;
    max-width: 540px;
    position: relative;
}

.download-icon .material-icons {
    font-size: 15px;
    padding: 0 10px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.download-icon .material-icons:hover {
    color: #7479ea;
}

.preivew-icon .material-icons {
    font-size: 15px;
    padding: 0 10px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.preivew-icon .material-icons:hover {
    color: #7479ea;
}

.folder-line {
     line-height: 12px;
}

.folder-line .material-icons {
    font-size: 12px;
    line-height: 12px;
}