@model IEnumerable<MenuLink>

@if (Model != null)
{
	<ul class="col sidebar">
		@foreach (var model in Model)
		{
			<li>
				@Html.Partial("Menu/MenuLink", model, new ViewDataDictionary(ViewData) {{"classLink", "sidebar-link"}})
			</li>
		}
	</ul>
}